body .media-library-item--grid {
  max-width: 14rem !important;
  width: 14rem !important;
}

body .media-library-item--grid .views-field-views-bulk-operations-bulk-form {
  position: absolute;
  z-index: 3;
}

body .media-library-item--grid.is-hover .media--view-mode-media-library .contextual {
  display: none;
}

body .media-library-widget-modal .media-library-item--grid,body .media-library-selection .media-library-item--grid {
  max-width: 14rem !important;
  width: 14rem !important;
  max-height: 14rem !important;
  height: 14rem !important;
}

body .media-library-item .media-library-item__preview {
  width: 13rem !important;
}

body .media-library-item .form-item {
  margin: var(--gin-spacing-xs) !important;
}

.media-library-view.view-display-id-widget .media-library-item__name a {
  color: #000;
  text-decoration: none;
}

.media-library-view .form-actions {
  margin: .75em 0;
}

.media-library-view .media-library-view--form-actions {
  clear: left;
  margin: .75em 0;
  align-self: flex-end;
}

.media-library-view .media-library-views-form__header .form-item {
  margin-right: 8px;
}

.media-library-view #drupal-modal .view-header {
  margin: 16px 0;
}

.media-library-view .media-library-item:not(.media-library-item--grid) {
  justify-content: center;
  vertical-align: top;
  border: 1px solid #dbdbdb;
  margin: 16px 16px 2px 2px;
  width: 180px;
  background: #fff;
  transition: border-color .2s, color .2s, background .2s;
}

.media-library-view .media-library-item:not(.media-library-item--grid) .field--name-thumbnail {
  background-color: #ebebeb;
  overflow: hidden;
  text-align: center;
}

.media-library-view .media-library-item:not(.media-library-item--grid) .field--name-thumbnail img {
  height: 180px;
  object-fit: contain;
  object-position: center center;
}

.media-library-view .media-library-item:not(.media-library-item--grid).is-hover,.media-library-view .media-library-item:not(.media-library-item--grid).checked,.media-library-view .media-library-item:not(.media-library-item--grid).is-focus {
  border-color: #40b6ff;
  border-width: 3px;
  border-radius: 3px;
  margin: 14px 14px 0 0;
}

.media-library-view .media-library-item:not(.media-library-item--grid).checked {
  border-color: #0076c0;
}

.media-library-view .media-library-item:not(.media-library-item--grid) .js-click-to-select-checkbox input {
  width: 30px;
  height: 30px;
}

.media-library-view .media-library-item:not(.media-library-item--grid) .views-field-operations {
  height: 30px;
}

.media-library-view .media-library-item:not(.media-library-item--grid) .views-field-operations .dropbutton-wrapper {
  display: inline-block;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.media-library-view .media-library-item:not(.media-library-item--grid) .media-library-item__preview {
  padding-bottom: 34px;
}

.media-library-view .media-library-item:not(.media-library-item--grid) .media-library-item__status {
  color: #e4e4e4;
  font-style: italic;
  background: #666;
  padding: 5px 10px;
  font-size: 12px;
}

.media-library-view .media-library-item:not(.media-library-item--grid) .media-library-item__attributes {
  position: absolute;
  bottom: 0;
  display: block;
  padding: 5px;
  max-height: calc(100% - 50px);
  overflow: hidden;
  background: #fff;
}

.media-library-view .media-library-item:not(.media-library-item--grid) .media-library-item__name {
  font-size: 14px;
}

.media-library-view .media-library-item:not(.media-library-item--grid) .media-library-item__name a {
  display: block;
  text-decoration: underline;
  margin: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.media-library-view .media-library-item:not(.media-library-item--grid) .media-library-item__attributes:hover .media-library-item__name a,.media-library-view .media-library-item:not(.media-library-item--grid) .media-library-item__name a:focus,.media-library-view .media-library-item:not(.media-library-item--grid) .media-library-item.is-focus .media-library-item__name a,.media-library-view .media-library-item:not(.media-library-item--grid) .media-library-item.checked .media-library-item__name a {
  white-space: normal;
}

.media-library-view .media-library-item:not(.media-library-item--grid) .media-library-item__name a:focus {
  border: 2px solid;
  margin: 0;
}

.media-library-view .media-library-item:not(.media-library-item--grid) .media-library-item__type {
  font-size: 12px;
  color: dimgray;
}

.media-library-view .media-library-item:not(.media-library-item--grid) .media-library-select-all {
  margin: 10px 0 10px 0;
}

.media-library-view .media-library-item:not(.media-library-item--grid) .media-library-select-all input {
  margin-right: 10px;
}

.media-library-view .media-library-item:not(.media-library-item--grid) .media-library-item--disabled {
  opacity: .5;
}

.media-library-view .media-library-item:not(.media-library-item--grid) .media-library-selection {
  margin-bottom: 1.5rem;
}

.media-library-view .media-library-item:not(.media-library-item--grid) .media-library-widget {
  position: relative;
}

.media-library-view .media-library-item:not(.media-library-item--grid) .media-library-widget .media-library-widget .media-library-item__name a {
  color: #000;
  text-decoration: none;
}

.media-library-view .media-library-item:not(.media-library-item--grid) .media-library-widget__toggle-weight {
  position: absolute;
  right: 5px;
  top: 5px;
}

.media-library-view .media-library-item:not(.media-library-item--grid) .media-library-upload__media,.media-library-view .media-library-item:not(.media-library-item--grid) .media-library-upload__file {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 20px 0;
}

.media-library-view .media-library-item:not(.media-library-item--grid) .media-library-upload__file {
  align-items: center;
}

.media-library-view .media-library-item:not(.media-library-item--grid) .media-library-upload__file-label {
  margin-right: 10px;
}

.media-library-view .media-library-item:not(.media-library-item--grid) .media-library-upload__source-field .file,.media-library-view .media-library-item:not(.media-library-item--grid) .media-library-upload__source-field .button,.media-library-view .media-library-item:not(.media-library-item--grid) .media-library-upload__source-field .image-preview,.media-library-view .media-library-item:not(.media-library-item--grid) .media-library-upload__source-field .form-type-managed-file>label,.media-library-view .media-library-item:not(.media-library-item--grid) .media-library-upload__source-field .file-size {
  display: none;
}

.media-library-view .media-library-item:not(.media-library-item--grid) .media-library-upload__media-preview {
  margin-right: 20px;
  width: 180px;
  background: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-library-view .media-library-item:not(.media-library-item--grid) .media-library-upload__media-preview img {
  display: block;
}

@media screen and (max-width: 600px) {
  .media-library-view .media-library-item:not(.media-library-item--grid) {
    width: 180px;
  }

  .media-library-view .media-library-item:not(.media-library-item--grid) .field--name-thumbnail img {
    width: 180px;
  }

  .media-library-view .media-library-item:not(.media-library-item--grid) .views-field-operations .dropbutton-wrapper {
    position: relative;
    right: 0;
    border: 0;
  }
}

