.ck-widget .media.media--type-remote-video.media--view-mode-small,
.ck-widget .media.media--type-remote-video.media--view-mode-medium,
.ck-widget .media.media--type-remote-video.media--view-mode-original,
.ck-widget .media.media--type-remote-video.media--view-mode-large {
  min-width: 100%;
  max-width: 100%;
}

.ck-widget .media.media--type-remote-video.media--view-mode-small .varbase-video-player iframe,
.ck-widget .media.media--type-remote-video.media--view-mode-medium .varbase-video-player iframe,
.ck-widget .media.media--type-remote-video.media--view-mode-original .varbase-video-player iframe,
.ck-widget .media.media--type-remote-video.media--view-mode-large .varbase-video-player iframe {
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  position: relative;
}

.ck-widget .media.media--type-remote-video.media--view-mode-small .varbase-video-player:before,
.ck-widget .media.media--type-remote-video.media--view-mode-medium .varbase-video-player:before,
.ck-widget .media.media--type-remote-video.media--view-mode-original .varbase-video-player:before,
.ck-widget .media.media--type-remote-video.media--view-mode-large .varbase-video-player:before {
  padding-top: 0rem;
}

.ck-widget .media.media--type-remote-video.media--view-mode-original .varbase-video-player iframe,
.ck-widget .media.media--type-remote-video.media--view-mode-large .varbase-video-player iframe {
  aspect-ratio: auto 1400/788;
  width: 100rem;
}

.ck-widget .media.media--type-remote-video.media--view-mode-small .varbase-video-player iframe,
.ck-widget .media.media--type-remote-video.media--view-mode-medium .varbase-video-player iframe {
  aspect-ratio: auto 1400/788;
}

.ck-widget .media.media--type-video.media--view-mode-small,
.ck-widget .media.media--type-video.media--view-mode-medium,
.ck-widget .media.media--type-video.media--view-mode-original,
.ck-widget .media.media--type-video.media--view-mode-large {
  min-width: 100%;
  max-width: 100%;
}

.ck-widget .media.media--type-video.media--view-mode-small .varbase-video-player video,
.ck-widget .media.media--type-video.media--view-mode-medium .varbase-video-player video,
.ck-widget .media.media--type-video.media--view-mode-original .varbase-video-player video,
.ck-widget .media.media--type-video.media--view-mode-large .varbase-video-player video {
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  position: relative;
}

.ck-widget .media.media--type-video.media--view-mode-small .varbase-video-player:before,
.ck-widget .media.media--type-video.media--view-mode-medium .varbase-video-player:before,
.ck-widget .media.media--type-video.media--view-mode-original .varbase-video-player:before,
.ck-widget .media.media--type-video.media--view-mode-large .varbase-video-player:before {
  padding-top: 0rem;
}

.ck .drupal-media {
  z-index: 1;
}
