.video-player-icon {
  position: relative;
}
.video-player-icon.js-video-player-icon {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  cursor: pointer;
}
.video-player-icon:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 72px;
  height: 72px;
  max-height: 55%;
  content: "";
  cursor: pointer;
  transform: translate(-50%, -50%);
  background: url(../../images/play.svg) no-repeat center center;
  font-size: 15%;
}
.video-player-icon:hover:after {
  opacity: 0.75;
}

[dir=rtl] .video-player-icon.js-video-player-icon {
  right: 0;
  left: auto;
}

.media--type-video-embed,
.media--type-remote-video,
.media--type-video {
  position: relative;
}
