:root {
  --varbase-media-video-player-icon-size: 4.5rem;
  --varbase-media-video-player-icon: url(../../images/play.svg);
}

.video-player-icon {
  position: relative;
}

.video-player-icon.js-video-player-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  cursor: pointer;
  z-index: 3;
}

.video-player-icon:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--varbase-media-video-player-icon) no-repeat center center;
  height: var(--varbase-media-video-player-icon-size);
  width: var(--varbase-media-video-player-icon-size);
  max-height: 55%;
  font-size: 15%;
  cursor: pointer;
}

.video-player-icon:hover:after {
  opacity: .75;
}

.media--type-video-embed,.media--type-remote-video,.media--type-video {
  position: relative;
}

.object-fit-media {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.object-fit-media .varbase-video-player {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.object-fit-media .varbase-video-player>video,.object-fit-media .varbase-video-player>iframe {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.object-fit-media .varbase-video-player>iframe {
  min-height: 56vw !important;
  margin-top: calc(var(--bs-aspect-ratio)*-0.65) !important;
}

