.blazy.field--type-image {
  max-width: 100%;
  height: auto;
}

.blazy.media-cover-image {
  width: 100%;
  height: auto;
}

.blazy.field--type-image .media--loading,
.blazy.media-cover-image .media--loading {
  max-width: 100%;
  height: auto;
  -webkit-backface-visibility: inherit;
  backface-visibility: inherit;
  overflow: hidden;
}

.blazy.field--type-image .media--loading::before,
.blazy.media-cover-image .media--loading::before {
  display: none;
}

.blazy.field--type-image .media--loading figure,
.blazy.field--type-image .media--loading img,
.blazy.media-cover-image .media--loading figure,
.blazy.media-cover-image .media--loading img {
  max-width: 100%;
  height: auto;
}

.blazy.field--type-image .b-lazy,
.blazy.media-cover-image .b-lazy {
  -webkit-filter: blur(2px);
  filter: blur(2px);
  -webkit-transform: scale(1.001);
  -o-transform: scale(1.001);
  transform: scale(1.001);
  -webkit-transition: -webkit-filter .2s, -webkit-transform .2s;
  transition: -webkit-filter .2s, -webkit-transform .2s;
  -o-transition: filter .2s, -o-transform .2s;
  transition: filter .2s, transform .2s;
  transition: filter .2s, transform .2s, -webkit-filter .2s, -webkit-transform .2s, -o-transform .2s;
  opacity: 1;
}

.blazy.field--type-image .b-loaded,
.blazy.media-cover-image .b-loaded {
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.blazy img {
  width: 100%;
  height: 100%;
}

.media--loading {
  -webkit-backface-visibility: inherit;
  backface-visibility: inherit;
  overflow: hidden;
}

.media--loading::before {
  display: none;
}
