// Varbase Media Blazy Blurry.
.blazy {
  &.field--type-image {
    max-width: 100%;
    height: auto;
  }

  &.media-cover-image {
    width: 100%;
    height: auto;
  }

  &.field--type-image,
  &.media-cover-image {
    .media--loading {
      max-width: 100%;
      height: auto;
      backface-visibility: inherit;
      overflow: hidden;

      &::before {
        display: none;
      }

      figure,
      img {
        max-width: 100%;
        height: auto;
      }
    }

    .b-lazy {
      filter: blur(2px);
      transform: scale(1.001);
      will-change: filter, transform;
      transition: filter .2s, transform .2s;
      opacity: 1;
    }

    .b-loaded {
      filter: blur(0);
      transform: scale(1);
    }
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.media--loading {
  backface-visibility: inherit;
  overflow: hidden;

  &::before {
    display: none;
  }
}

.text-formatted {
  .blazy {
    &.blazy--field-media-image {
      &.field[data-blazy] {
        display: inline-block;
        min-width: fit-content;
      }
    }
  }

  .media--type-gallery {
    .blazy {
      &.blazy--field-media-image {
        &.field[data-blazy] {
          display: block;
        }
      }
    }
  }

  .align-center {
    > .blazy {  
      &.blazy--field-media-image {

        &.blazy--field-media-image--original {
          margin-right: auto;
          margin-left: auto;
          width: auto;
          max-width: 100%;
        }

        &.blazy--field-media-image--large {
          margin-left: 0%;
          margin-right: 0%;
          width: 100%;
        }

        &.blazy--field-media-image--medium {
          margin-left: 25%;
          margin-right: 25%;
          width: 50%;
        }

        &.blazy--field-media-image--small {
          margin-left: 37.5%;
          margin-right: 37.5%;
          width: 25%;
        }
      }
    }
  }

  .align-left {
    > .blazy {
      &.blazy--field-media-image {
        margin: 0 1rem 0 0;
      }
    }
  }

  .align-right {
    > .blazy {
      &.blazy--field-media-image {
        margin: 0 0 0 1rem;
      }
    }
  }
}
