// Manager the look and feel of Varbase Video Player while working with the CKEditor.
.ck-widget {
  .media {

    &.media--type-remote-video {

      &.media--view-mode-small,
      &.media--view-mode-medium,
      &.media--view-mode-original,
      &.media--view-mode-large {
        min-width: 100%;
        max-width: 100%;

        .varbase-video-player {
          iframe {
            min-width: 100%;
            max-width: 100%;
            height: 100%;
            position: relative;
          }

          &:before {
            padding-top: 0rem;
          }
        }
      }
      &.media--view-mode-original,
      &.media--view-mode-large {
        .varbase-video-player {
          iframe {
            aspect-ratio: auto 1400 / 788;
            width: 100rem;

          }
        }
      }

      &.media--view-mode-small,
      &.media--view-mode-medium {
        .varbase-video-player {
          iframe {
            aspect-ratio: auto 1400 / 788;
          }
        }
      }
    }

    &.media--type-video {

      &.media--view-mode-small,
      &.media--view-mode-medium,
      &.media--view-mode-original,
      &.media--view-mode-large {
        min-width: 100%;
        max-width: 100%;

        .varbase-video-player {
          video {
            min-width: 100%;
            max-width: 100%;
            height: 100%;
            position: relative;
          }

          &:before {
            padding-top: 0rem;
          }
        }
      }
    }
  }
}

.ck {
  .drupal-media {
    z-index: 1;
  }
}
